-# coding: utf-8
- variables = RestFtpDaemon::WorkerPool.instance.worker_variables

%h2 Worker status

%table.table.table-hover.table-condensed

  %thead
    %tr
      %th worker
      %th pool
      %th status
      %th job
      %th.text-right seen

  %tbody
    - variables.each do |wid, vars|
      - status = vars[:status]
      - status = WorkerBase::STATUS_DOWN unless RestFtpDaemon::WorkerPool.instance.worker_alive?(wid)

      %tr{class: dashboard_worker_class(status)}
        %td= wid
        %td= vars[:pool]
        %td= status
        %td= vars[:jid]
        %td.text-right

          - if vars[:updated_at].is_a? Time
            - no_news_for = (Time.now - vars[:updated_at]).round(0)
            = formatted_duration no_news_for
          - else
            = "?"