!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{ href:"/css/bootstrap.css" , rel: "stylesheet"}
    %link{ href:"/css/main.css" , rel: "stylesheet"}
    -# %link{ href:"http://fonts.googleapis.com/css?family=Inconsolata:400,700" , rel: "stylesheet"}
    %title="#{Settings.host} [#{Settings.namespace}] #{APP_NAME}"

  %body

    .navbar.navbar-default.navbar-fixed
      .container-fluid

        .navbar-header
          %h1
            = APP_NAME
            %small
              = "v#{APP_VER}"
              = "[#{Settings.namespace}]"


    .container-fluid

      = render :dashboard_headers

      %br
      %br
      %br

      = render :dashboard_jobs

      .row
        #box-tokens.col-md-6
          = render :dashboard_tokens, {tokens: Settings.endpoints || {}}

        #box-workers.col-md-3
          = render :dashboard_workers

        #box-counters.col-md-3
          = render :dashboard_counters


    .footer
      .container-fluid

        .footer-signature.pull-left

          &copy; 2014
          &middot;
          %a{href: "http://bmconseil.com"}Bruno Medici Consultant
          &middot;
          %a{href: "http://github.com/bmedici/rest-ftp-daemon"} GitHub project page

        .footer-indicators.pull-right
          = render :dashboard_infos
          =# render :dashboard_status


