- jobs.each do |job|
  - size = job.get :transfer_total
  - progress = job.get :progress
  - source_count = job.get(:source_count) || 0
  - source_processed = job.get(:source_processed) || 0
  - source_processing = job.get(:source_processing)
  - presented = present job, :with => RestFtpDaemon::API::Entities::JobPresenter, hide_params: true
  - errmsg = job.get :error_message
  - method = job.get(:target_method)

  - if !job.error.nil?
    - trclass = "danger"
  - elsif job.status == JOB_STATUS_UPLOADING
    - trclass = "info"
  - elsif job.status == JOB_STATUS_FINISHED
    - trclass = "success"
  - elsif job.status == JOB_STATUS_QUEUED
    - trclass = "active"
  - else
    - trclass = "warning"

  %tr{class: trclass}

    %td{title: presented.to_json}
      %b= job.id

    %td= job.label

    %td{title: job.get(:source_path)}
      = Helpers.highlight_tokens job.source

    %td
      = Helpers.job_method_label method

    %td{title: job.get(:target_url)}
      = Helpers.highlight_tokens job.target

    %td
      = Helpers.datetime_short(job.queued_at)

    %td
      = job.status

      -# if (source_count > 1) && (source_processed < source_count)
      - if (source_processed < source_count)
        %small= " (#{source_processed}/#{source_count})"

      - unless source_processing.nil?
        %br
        %b= " #{source_processing}"

    %td
      - unless progress.nil?
        .progress
          .progress-bar{style:"width: #{progress}%;"}
            = Helpers.format_bytes job.get(:transfer_sent), "B"

    %td
      - unless job.error || job.status == :finished
        - unless progress.nil?
          = "#{progress}%"
      - else
        .error{title: errmsg}
          = Helpers.text_or_empty(job.error)


    %td.nobr.text-right
      = Helpers.format_bytes(size, "B")

    %td.nobr.text-right
      - if (bitrate = job.get :transfer_bitrate)
        =  Helpers.format_bytes(bitrate, "bps")

    %td
      - unless job.priority.nil?
        .label.label-info.flag.worker-label= job.priority

      - unless job.wid.nil?
        %br
        .label.label-warning.flag.worker-label= job.wid
