!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{ href:"/css/bootstrap.css" , rel: "stylesheet"}

    %title="#{Settings.name} dashboard"

    :css

      h2 {
        font-size: 1.5em;
        margin-top: 2em;
      }

      #header {
        padding: 20px auto;
        border-bottom: 1px solid silver;
        background-color: #eee;
        }

      .progress {
        margin-bottom: 0;
        }

  %body

    .navbar.navbar-default.navbar-fixed
      .container

        .navbar-header
          %h1
            = APP_NAME
            %small
              = "v#{APP_VER}"
              = "[#{Settings.namespace}]"


    .container

      - trans = $queue.counter_get :transferred
      .btn-group.btn-group-sm
        .btn.btn-default.btn-success Processors
        .btn.btn-default= @info_procs

      .btn-group.btn-group-sm
        .btn.btn-default.btn-success IP
        .btn.btn-default= @info_ipaddr

      .btn-group.btn-group-sm
        .btn.btn-default.btn-warning Load
        .btn.btn-default= @info_load.round(1)

      .btn-group.btn-group-sm
        .btn.btn-default.btn-warning CPU
        .btn.btn-default= "#{@info_norm} %"

      .btn-group.btn-group-sm
        .btn.btn-default.btn-warning Free
        .btn.btn-default= @info_memfree

      .btn-group.btn-group-sm
        .btn.btn-default.btn-info Transferred
        .btn.btn-default= Helpers.format_bytes(trans, "B")


      .row
        .col-md-9
          = render :dashboard_jobs, {jobs: @jobs, counts: @counts}
        .col-md-3
          = render :dashboard_workers, {}

      = render :dashboard_tokens, {tokens: Settings.endpoints || {}}

      %br
      %br
