-# coding: utf-8
!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{ href:"/css/bootstrap.css" , rel: "stylesheet"}
    %link{ href:"/css/main.css" , rel: "stylesheet"}
    -# %link{ href:"http://fonts.googleapis.com/css?family=Inconsolata:400,700" , rel: "stylesheet"}
    %title="#{Settings.host} [#{Settings.namespace}] #{APP_NAME}"

  %body

    .navbar.navbar-default.navbar-fixed
      .container-fluid
        = render :dashboard_header


    .container-fluid

      %br

      .row
        #box-jobs.col-md-12
          = render :dashboard_jobs

      .row
        #box-tokens.col-md-6
          = render :dashboard_tokens, {tokens: Settings.endpoints || {}}

        #box-workers.col-md-3
          = render :dashboard_workers
          = render :dashboard_counters

        #box-counters.col-md-3
          = render :dashboard_rates


    .footer
      .container-fluid
        = render :dashboard_footer

