-# coding: utf-8
%h2 Workers

%table.table.table-striped.table-hover.table-condensed

  %thead
    %tr
      %th pool
      %th worker
      %th status
      %th job
      %th.text-right seen

  %tbody
    - @worker_variables.each do |vars|
      - wid = vars[:wid]
      - status = vars[:status]
      - alive = $pool.worker_alive? wid
      - trclass = WORKER_STYLES[status]

      - unless alive
        - trclass = "danger"
        - status = "DEAD"


      %tr{class: trclass.to_s}
        %td= vars[:pool]
        %td= wid
        %td= status
        %td= vars[:jid]
        %td.text-right

          - if vars[:updated_at].is_a? Time
            - no_news_for = (Time.now - vars[:updated_at]).round(0)
            = Helpers.formatted_duration no_news_for
          - else
            = "?"
