-# coding: utf-8
- jobs_count_by_status = $queue.jobs_count_by_status
- counts_all = $queue.jobs_count
- jobs = @paginate.subset

.btn-group.btn-group-xs.filters
  - klass = @filter.empty? ? "btn-info" : ""
  %a.btn.btn-default{href: Helpers.dashboard_filter_url(), class: klass}
    ALL (#{counts_all})

.btn-group.btn-group-xs.filters
  - jobs_count_by_status.each do |status, count|
    - klass = (status.to_s == @filter) ? "btn-info" : ""
    %a.btn.btn-default{href: Helpers.dashboard_filter_url(status), class: klass}
      #{status} (#{count})



.btn-group.btn-group-xs.paginator
  = @paginate.browser

%br
%br

.row
  #box-jobs.col-md-12

    %table.table.table-striped.table-hover.table-condensed#jobs

      %thead
        %tr
          %th ID
          %th label
          %th pool
          %th source
          %th mode
          %th target
          %th queued
          %th.error status
          %th{"min-width" => 120} error
          %th.text-right filesize
          %th.text-right bitrate
          %th{title: "Worker ID"} W
          %th{title: "Priority"} P
          %th{title: "Runs count"} R


        - @jobs_queued.each do |pool, jobs|
          - unless jobs.empty?
            %tbody.jobs
              = render :dashboard_table, {jobs: jobs}

            %thead
              %tr
                %td{colspan: 14}
                  %br

        - unless jobs.empty?
          %tbody.jobs
            = render :dashboard_table, {jobs: jobs}



