-# coding: utf-8
%h2 Workers

%table.table.table-striped.table-hover.table-condensed

  %tr
    %th ID
    %th status
    %th job
    %th.text-right seen

  - @worker_variables.each do |vars|
    - wid = vars[:wid]
    - status = vars[:status]
    - alive = $pool.worker_alive? wid
    - trclass = DASHBOARD_WORKER_STYLES[status]

    - unless alive
      - trclass = "danger"
      - status = "DEAD"


    %tr{class: trclass.to_s}
      %td= wid
      %td= status
      %td= vars[:jid]
      %td.text-right

        - if vars[:updted_at].is_a? Time
          - no_news_for = (Time.now - vars[:updted_at]).round(0)
          = Helpers.formatted_duration no_news_for
        - else
          = "?"
