!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{ href:"/css/bootstrap.css" , rel: "stylesheet"}
    %link{ href:"/css/main.css" , rel: "stylesheet"}
    %link{ href:"http://fonts.googleapis.com/css?family=Inconsolata:400,700" , rel: "stylesheet"}
    %title="#{Settings['host']} [#{Settings.namespace}] #{APP_NAME}"

  %body

    .navbar.navbar-default.navbar-fixed
      .container

        .navbar-header
          %h1
            = APP_NAME
            %small
              = "v#{APP_VER}"
              = "[#{Settings.namespace}]"


    .container

      = render :dashboard_headers

      .row
        .col-md-12

          %h2
            Jobs &nbsp;

            .btn-group.btn-group-md
              - klass = @only.nil? ? "btn-info" : ""
              %a.btn.btn-default{href: "?only=", class: klass}
                ALL (#{@jobs_queued.size} + #{@jobs_popped.size})
            .btn-group.btn-group-md
              - @counts.each do |status, count|
                - klass = (status == @only) ? "btn-info" : ""
                %a.btn.btn-default{href: "?only=#{status}", class: klass}
                  #{status} (#{count})

          %table.table.table-striped.table-hover.table-condensed
            %tr
              %th JID
              %th P
              %th W
              %th source
              %th target
              %th started
              %th status
              %th progress
              %th error
              %th.text-right size
              %th.text-right bitrate

            - if @only.nil? && !@jobs_queued.empty?
              = render :dashboard_jobs, {jobs: @jobs_queued, counts: @counts}
              %tr
                %th{colspan: 10}

            = render :dashboard_jobs, {jobs: @jobs_popped, counts: @counts}



      .row
        .col-md-7
          = render :dashboard_tokens, {tokens: Settings.endpoints || {}}

        .col-md-3
          = render :dashboard_workers

        .col-md-2
          = render :dashboard_counters

      %br
