-# coding: utf-8
- jobs.each do |job|
  - work_progress     = job.get_info(:work, :progress)
  - work_bitrate      = job.get_info(:work, :bitrate)
  - work_sent         = job.get_info(:work, :sent)

  - source_count      = job.get_info(:source, :count) || 0
  - source_processed  = job.get_info(:source, :processed) || 0
  - source_current    = job.get_info(:source, :current)

  - job_working       = [JOB_STATUS_UPLOADING, JOB_STATUS_TRANSFORMING].include? job.status

  - trclass = JOB_STYLES[job.status]
  - runs = job.runs.to_i

  - unless job.error.nil?
    - trclass = "warning"

  %tr{class: trclass.to_s}
    %td
      %a{href: dashboard_job_url(job)}
        %b= job.id

    %td= job.pool

    %td= job.label

    %td= job_type job

    %td{title: job.get_info(:source, :path)}
      = location_label job.source_uri
      = token_highlight job.source

    %td{title: job.get_info(:target, :path)}
      = location_label job.target_uri
      = token_highlight job.target

    %td= datetime_short(job.queued_at)

    %td
      %span.push-status
        = job.status

      - if (job.status != JOB_STATUS_FINISHED) && (source_processed < source_count)
        = " (#{source_processed}/#{source_count})"

      - if job_working

        - unless work_progress.nil?
          %span.push-progress
            = "#{work_progress}%"
        %br
        %span.push-filename
          %b= source_current unless source_current.nil?

    %td
      -# unless job.error || job.status == JOB_STATUS_FINISHED
      - if job_working
        .progress
          .progress-bar{style:"width: #{work_progress}%;"}
            = "#{work_progress} %"

      - else
        .error{title: job.get_info(:error, :message)}
          = text_or_empty(job.error)

    %td.nobr.text-right
      = format_bytes(job.get_info(:transfer, :total), "B")

    %td.nobr.text-right{title: "time: #{job.exectime} s"}
      - if work_bitrate
        %span.push-bitrate
          = format_bytes(work_bitrate, "bps")

    %td
      - unless job.wid.nil?
        .label.label-warning.flag.worker-label= job.wid

    %td
      - unless job.priority.nil?
        .label.label-default.flag.worker-label= job.priority

    %td
      .label.flag.worker-label{class: job_runs_style(runs)}= runs
