%h2
  Jobs (#{jobs.size})
  = "&nbsp;"

  .btn-group.btn-group-xs
    - klass = @only.blank? ? "btn-info" : ""
    %a.btn.btn-default{href: "?only=", class: klass}
      ALL

    - counts.each do |status, count|
      - klass = (status.to_s == @only) ? "btn-info" : ""
      %a.btn.btn-default{href: "?only=#{status}", class: klass}
        #{status} (#{count})

%table.table.table-striped.table-hover.table-condensed

  %tr
    %th= "ID"
    %th= "priority"
    %th= "source"
    %th= "target"
    %th= "mode"
    %th= "size"
    %th= "status"
    %th= "error"
    %th= "progress"
    %th

  - jobs.each do |job|
    - error = job.get :error
    - status = job.get :status
    - size = job.get :file_size
    - progress = job.get :progress

    - if error!=0 && !error.nil?
      - trclass = "danger"
    - elsif status == :uploading
      - trclass = "info"
    - elsif status == :finished
      - trclass = "success"
    - else
      - trclass = "warning"

    %tr{class: trclass}

      %td= job.id
      %td= job.get :priority
      %td{title: job.get(:source_path)}
        = job.get :source
      %td{title: job.get(:target_url)}
        = job.get :target
      %td
        .label.label-info= job.get :source_method
        .label.label-primary= job.get :target_method
      %td= format_nice_bytes(size)
      %td= status
      %td= error
      %td
        - unless progress.nil?
          .progress
            .progress-bar{style:"width: #{progress}%;"}
              = format_nice_bytes job.get(:file_sent)
      %td
        - unless progress.nil?
          = "#{progress} %"
