- jobs.each do |job|
  - progress = job.get :progress
  - source_count = job.get(:source_count) || 0
  - source_processed = job.get(:source_processed) || 0
  - source_current = job.get(:source_current)
  - job_presented = entity_representation_for(RestFtpDaemon::API::Entities::JobPresenter, job, {})
  - bitrate = job.get :transfer_bitrate


  - trclass = DASHBOARD_JOB_STYLES[job.status]

  - unless job.error.nil?
    - trclass = "warning"

  %tr{class: trclass.to_s}
    %td{title: job_presented.to_json}
      %b= job.id

    %td= job.label

    %td{title: job.get(:source_path)}
      = Helpers.highlight_tokens job.source

    %td
      = Helpers.job_method_label (job.get :target_method)

    %td{title: job.get(:target_url)}
      = Helpers.highlight_tokens job.target

    %td
      = Helpers.datetime_short(job.queued_at)

    %td
      %span.push-status
        = job.status

      - if (job.status != JOB_STATUS_FINISHED) && (source_processed < source_count)
        = " (#{source_processed}/#{source_count})"

      - if job.status == JOB_STATUS_UPLOADING

        - unless progress.nil?
          %span.push-progress
            = "#{progress}%"
        %br
        %span.push-filename
          %b= source_current unless source_current.nil?

    %td
      - unless job.error || job.status == JOB_STATUS_FINISHED
        .progress
          .progress-bar{style:"width: #{progress}%;"}
            = Helpers.format_bytes(job.get(:transfer_sent), "B")

      - else
        .error{title: job.get(:error_message)}
          = Helpers.text_or_empty(job.error)

    %td.nobr.text-right
      = Helpers.format_bytes(job.get(:transfer_total), "B")

    %td.nobr.text-right{title: "time: #{job.exectime} s"}
      - if bitrate
        %span.push-bitrate
          = Helpers.format_bytes(bitrate, "bps")

    %td
      - unless job.priority.nil?
        .label.label-default.flag.worker-label= job.priority

      - unless job.wid.nil?
        .label.label-warning.flag.worker-label= job.wid





