- title = "#{Conf.host} [#{Conf.app_env}] #{Conf.app_name} #{Conf.app_ver}"

-# coding: utf-8
!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{ href:"/css/bootstrap.min.css" , rel: "stylesheet"}
    %link{ href:"/css/main.css" , rel: "stylesheet"}
    -# %link{ href:"http://fonts.googleapis.com/css?family=Inconsolata:400,700" , rel: "stylesheet"}
    %title= title

  %body

    .navbar.navbar-default.navbar-fixed
      .container-fluid
        = render "layout/header"

    .container-fluid.panes

      .row
        .col-md-12.jobs
          = render "jobs"

      .row
        .col-md-4.workers
          = render "panes/workers"

        .col-md-3.rates
          = render "panes/rates"

        .col-md-3.counters
          = render "panes/counters"

        .col-md-2.tokens
          = render "panes/tokens"

    %br
    %br

    .footer
      .container-fluid
        = render "layout/footer"