-# coding: utf-8
- info_procs = (Facter.value :processorcount).to_i
- newrelic_class = Conf.newrelic_enabled? ? 'feature-enabled' : 'feature-disabled'
- reload_class = Conf[:allow_reload] ? 'feature-enabled' : 'feature-disabled'

.footer-signature.pull-left

  &copy;
  = "2014-#{Time.now.year}"
  %a{href: "http://bmconseil.com/?ref=rftpd-dashbaord"}Bruno Medici Consultant

  &middot;
  %a{href: "http://github.com/bmedici/rest-ftp-daemon/"} GitHub
  &middot;
  %a{href: "http://refactorcop.com/bmedici/rest-ftp-daemon/"} RefactorCop


.footer-indicators.pull-right

  .btn-group.btn-group-sm
    .btn.btn-default.btn-info Features
    .btn.btn-default{class: newrelic_class}
      %img{src: "/images/logo_newrelic.png", height: "14", title: "NewRelic"}
    .btn.btn-default{class: reload_class}
      %img{src: "/images/reload.png", height: "14", title: "Configuration is hot-reloadable (allow_relaod)"}

  - if Conf.host
    .btn-group.btn-group-sm
      .btn.btn-default.btn-info Host
      .btn.btn-default= Conf.host

  .btn-group.btn-group-sm
    .btn.btn-default.btn-info IP
    .btn.btn-default= Facter.value(:ipaddress)

  .btn-group.btn-group-sm
    .btn.btn-default.btn-info Cores
    .btn.btn-default= info_procs

  .btn-group.btn-group-sm
    .btn.btn-default.btn-info Started
    .btn.btn-default= datetime_short(Conf.app_started)
