- counts_by_status = $queue.counts_by_status
- counts_all = $queue.jobs_count
- jobs = @paginate.subset

.row

  .col-md-5
    .btn-group.btn-group-sm
      - klass = @only.empty? ? "btn-info" : ""
      %a.btn.btn-default{href: "?only=", class: klass}
        ALL (#{counts_all})
    .btn-group.btn-group-sm
      - counts_by_status.each do |status, count|
        - klass = (status.to_s == @only) ? "btn-info" : ""
        %a.btn.btn-default{href: "?only=#{status}", class: klass}
          #{status} (#{count})

  .col-md-7
    .btn-group.btn-group-sm
      = @paginate.browser

%br

.row
  #box-jobs.col-md-12

    %table.table.table-striped.table-hover.table-condensed#jobs

      %thead
        %tr
          %th ID
          %th label
          %th source
          %th <=>
          %th target
          %th queued
          %th.error status
          %th{"min-width" => 120} error
          %th.text-right size
          %th.text-right bitrate
          %th info

        - unless @queue.empty?
          %tbody.jobs
            = render :dashboard_table, {jobs: @queue}

            %thead
              %tr
                %td{colspan: 13}
                  %br

        - unless jobs.empty?
          %tbody.jobs
            = render :dashboard_table, {jobs: jobs}
