-# coding: utf-8
- info_procs = (Facter.value :processorcount).to_i
- info_load = Sys::CPU.load_avg.first.to_f
- info_norm = info_procs.zero? ? "N/A" : (100 * info_load / info_procs).round(1)
- info_trans = $stats.get :global, :transferred
- info_processed = $stats.get :global, :processed
- mem = GetProcessMem.new


.navbar-header

  %h1
    = APP_NAME
    %small
      = "v#{APP_VER} [#{Settings.namespace}]"


.header-indicators.navbar-header.pull-right

  .btn-group.btn-group-sm
    .btn.btn-default.btn-warning Load
    .btn.btn-default= info_load.round(1)

  .btn-group.btn-group-sm
    .btn.btn-default.btn-warning CPU
    .btn.btn-default= "#{info_norm} %"

  .btn-group.btn-group-sm
    .btn.btn-default.btn-warning Mem
    .btn.btn-default= Helpers.format_bytes(mem.bytes, "B")

  .btn-group.btn-group-sm
    .btn.btn-default.btn-success Processed
    .btn.btn-default= info_processed.to_i

  .btn-group.btn-group-sm
    .btn.btn-default.btn-success Transferred
    .btn.btn-default= Helpers.format_bytes(info_trans, "B", 1)


