- jobs.each do |job|
  - size = job.get :transfer_total
  - progress = job.get :progress
  - source_count = job.get(:source_count) || 0
  - source_processed = job.get(:source_processed) || 0
  - source_processing = job.get(:source_processing)
  - presented = present job, :with => RestFtpDaemon::API::Entities::JobPresenter, hide_params: true
  - errmsg = job.get :error_message

  - if !job.error.nil?
    - trclass = "danger"
  - elsif job.status == :uploading
    - trclass = "info"
  - elsif job.status == :finished
    - trclass = "success"
  - else
    - trclass = "warning"


  %tr{class: trclass}

    %td{title: presented.to_json}= job.id

    %td
      - unless job.priority.nil?
        = job.priority

    %td
      - unless job.wid.nil?
        .label.label-warning.flag= "w#{job.wid}"

    %td{title: job.get(:source_path)}
      =# Helpers.job_method_label job.get(:source_method)
      = Helpers.highlight_tokens job.source

    %td{title: job.get(:target_url)}
      = Helpers.job_method_label job.get(:target_method)
      =# job.target
      = Helpers.highlight_tokens job.target

    %td
      = Helpers.datetime_short(job.queued_at)

    %td
      = job.status
      - if (source_count > 1) && (source_processed < source_count)
        %small= " #{source_processed}/#{source_count}"

    %td
      - unless progress.nil?
        .progress
          .progress-bar{style:"width: #{progress}%;"}
            = Helpers.format_bytes job.get(:transfer_sent), "B"

    %td
      - unless job.error || job.status == :finished
        - unless progress.nil?
          = "#{progress}%"
        - unless source_processing.nil?
          %small= " (#{source_processing})"
      - else
        .error{title: errmsg}
          = Helpers.text_or_empty(job.error)


    %td.nobr.text-right
      = Helpers.format_bytes(size, "B")

    %td.nobr.text-right
      - if (bitrate = job.get :transfer_bitrate)
        =  Helpers.format_bytes(bitrate, "bps")


