%h2
  Jobs
  = "&nbsp;"

  .btn-group.btn-group-md
    - klass = @only.nil? ? "btn-info" : ""
    %a.btn.btn-default{href: "?only=", class: klass}
      ALL (#{jobs.size})

      =# jobs.size

  .btn-group.btn-group-md
    - counts.each do |status, count|
      - klass = (status == @only) ? "btn-info" : ""
      %a.btn.btn-default{href: "?only=#{status}", class: klass}
        #{status} (#{count})

%table.table.table-striped.table-hover.table-condensed

  %tr
    %th= "JID"
    %th= "prio"
    %th= "source"
    %th= "target"
    %th= "status"
    %th= "worker"
    %th= "error"
    %th= "size"
    %th= "progress"
    %th.text-right= "bitrate"

  - jobs.each do |job|
    - error = job.get :error
    - status = job.get :status
    - size = job.get :transfer_size
    - progress = job.get :progress

    - if error!=0 && !error.nil?
      - trclass = "danger"
    - elsif status == :uploading
      - trclass = "info"
    - elsif status == :finished
      - trclass = "success"
    - else
      - trclass = "warning"

    %tr{class: trclass}

      %td= job.id
      %td= job.get :priority

      %td{title: job.get(:source_path)}
        = Helpers.job_method_label job.get(:source_method)
        = job.get :source

      %td{title: job.get(:target_url)}
        = Helpers.job_method_label job.get(:target_method)
        = job.get :target

      %td= status
      %td= job.wid

      %td
        = error
        - unless progress.nil? || status == :finished
          = "#{progress}%"

      %td= Helpers.format_bytes(size, "B")
      %td
        - unless progress.nil?
          .progress
            .progress-bar{style:"width: #{progress}%;"}
              = Helpers.format_bytes job.get(:transfer_sent), "B"
      %td.text-right
        - if (bitrate = job.get :transfer_bitrate)
          =  Helpers.format_bytes(bitrate, "bps")

