-# coding: utf-8
- jobs.each do |job|
  - error_message     = job.get_info(INFO_ERROR_MESSAGE)
  - work_progress     = job.get_info(INFO_TRANFER_PROGRESS)
  - transfer_total    = job.get_info(INFO_TRANSFER_TOTAL)
  - transfer_bitrate  = job.get_info(INFO_TRANFER_BITRATE)
  - work_sent         = job.get_info(INFO_TRANFER_SENT)
  - current           = job.get_info(INFO_CURRENT)


  %tr{class: dashboard_job_class(job)}

    %td
      %a{href: dashboard_job_url(job)}
        %b= job.id

    %td= job.pool

    %td
      %nobr
        = datetime_short(job.created_at)

    %td= job.label

    %td= location_label(job.source_loc)

    %td= location_label(job.target_loc)

    %td= job_status(job)

    %td= tasks_status(job)

    %td

      - if job.failed?
        .error{title: error_message}= job.error

      - elsif job.running_and_transferring? || dashboard_debug
        .col-details-percent= "#{work_progress}%" if work_progress
        .progress.col-details-progress
          .progress-bar.progress-bar-striped.active{style:"width: #{work_progress}%;"}
            = current.to_s

    %td.nobr.col-size{title: "started since: #{job.started_since} s"}
      = format_bytes(transfer_bitrate, "bps") if transfer_bitrate

    %td.nobr.col-size
      = format_bytes(transfer_total, "B")

    %td.col-flag
      - unless job.wid.nil?
        .label.label-warning.flag.worker-label= job.wid

    %td.col-flag
      - unless job.priority.nil?
        .label.label-default.flag.worker-label= job.priority

    %td.col-flag
      .label.flag.worker-label{class: job_tentatives_style(job.tentatives)}= job.tentatives



