-# coding: utf-8
- jobs.each do |job|
  - error_message     = job.get_info(INFO_ERROR_MESSAGE)
  - work_progress     = job.get_info(INFO_TRANFER_PROGRESS)
  - transfer_total    = job.get_info(INFO_TRANSFER_TOTAL)
  - transfer_bitrate  = job.get_info(INFO_TRANFER_BITRATE)
  - work_sent         = job.get_info(INFO_TRANFER_SENT)

  - source_count      = job.get_info(INFO_SOURCE_COUNT) || 0
  - source_processed  = job.get_info(INFO_SOURCE_PROCESSED) || 0
  - current           = job.get_info(INFO_CURRENT)

  - job_working       = [Task::Import::STATUS_DOWNLOADING, Task::Export::STATUS_UPLOADING, Job::STATUS_TASK_PROCESSING].include? job.status

  %tr{class: dashboard_job_class(job)}

    %td
      %a{href: dashboard_job_url(job)}
        %b= job.id

    %td= job.pool

    %td
      %nobr
        = datetime_short(job.created_at)

    %td= job.label

    %td= location_label(job.source_loc)

    %td= location_label(job.target_loc)

    %td
      = job_task_status(job)

    %td
      %span.push-status
        = job.status

      - if (job.status != Job::STATUS_FINISHED) && (source_processed < source_count)
        = " (#{source_processed}/#{source_count})"

    %td
      - if job_working
        .progress
          .progress-bar{style:"width: #{work_progress}%;"}
            = "#{work_progress}%"
        %span.push-filename
          %b= current unless current.nil?
        - unless work_progress.nil?
          %span.push-progress
            = "#{work_progress}%"

      - else
        .error{title: error_message}
          = text_or_empty(job.error)

      -# %br
      -# .progress
      -#   .progress-bar{style:"width: 20%;"}
      -#     = "progress %"

    %td.nobr.text-right
      = format_bytes(transfer_total, "B")

    %td.nobr.text-right{title: "started since: #{job.started_since} s"}
      - if transfer_bitrate
        %span.push-bitrate
          = format_bytes(transfer_bitrate, "bps")

    %td
      - unless job.wid.nil?
        .label.label-warning.flag.worker-label= job.wid

    %td
      - unless job.priority.nil?
        .label.label-default.flag.worker-label= job.priority

    %td
      .label.flag.worker-label{class: job_tentatives_style(job.tentatives)}= job.tentatives

