-# coding: utf-8
- counts_all = RestFtpDaemon::JobQueue.instance.jobs_count
- job_count_by_status = RestFtpDaemon::JobQueue.instance.job_count_by_status
- jobs = @paginate.subset

.btn-group.btn-group-xs.filters
  - klass = @filter.empty? ? "btn-info" : ""
  %a.btn.btn-default{href: dashboard_url(), class: klass}
    ALL (#{counts_all})

.btn-group.btn-group-xs.filters
  - Job::STATUSES.each do |status|
    - count = job_count_by_status[status.to_s]
    - klass = (status.to_s == @filter) ? "btn-info" : ""
    %a.btn.btn-default{href: dashboard_url(status), class: klass}
      - if count.nil?
        #{status}
      - else
        #{status} (#{count})

.btn-group.btn-group-xs.paginator
  = @paginate.browser

%br
%br

.row
  #box-jobs.col-md-12

    %table.table.table-striped.table-hover.table-condensed#jobs

      %thead
        %tr
          %th{title: "Job identifier"} job
          %th pool
          %th created
          %th label
          %th source
          %th target
          %th{colspan: 2} job status
          %th.col_details  details
          %th.col-rate rate
          %th.col-size  size
          %th.col-flag{title: "Worker ID"} W
          %th.col-flag{title: "Priority"} P
          %th.col-flag{title: "Tentatives count"} T

        - @jobs_queued.each do |pool, jobs|
          - unless jobs.empty?
            %tbody.jobs
              = render "jobs_table", {jobs: jobs}

            %thead
              %tr
                %td{colspan: 14}
                  %br

        - unless jobs.empty?
          %tbody.jobs
            = render "jobs_table", {jobs: jobs}
